body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    margin: 0;
}

header {
    position: relative;
    text-align: center;
    max-height: 500px; 
    color: #fff;
}

header img {
    max-width: 100%; /* Hace que la imagen sea responsive */
    max-height: 150px; /* Ajusta la altura según tus preferencias */
    object-fit: cover; /* La imagen se ajusta para cubrir el área especificada sin deformarse */
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    top: 20px;
    left: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 180px;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 255, 0.2), 0 6px 20px 0 rgba(255, 0, 255, 0.19);/* Espaciado inferior para separar del resultado */
    border-radius: 5px;
}
  

article {
    box-shadow: 0 4px 8px 0 rgba(255, 0, 255, 0.2), 0 6px 20px 0 rgba(255, 0, 255, 0.19);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.imagen-responsive {
    width: 100%;
    height: auto;
  }